@font-face {
  font-family: GrafolitaRegular;
  src: url("../fonts/GrafolitaScript-Regular.otf");
}
.bg-header {
  -webkit-background-size:100%;
  background-size:cover;
  height: 969px;
  position: relative;
  &-img{
    img{
      width: 100%;
      position: absolute;
      top:40%;
      max-height: 593px;
    }
  }
  .header-content {
    position: relative;
    height: inherit;
    &-logo {
      margin-top: 2.6%;
      width: 100%;
      text-align: center;
      position: relative;
      &-img {
        width: 213px;

      }
    }
    &-text{
      text-align: center;
      position: absolute;
      top: 24%;
      left: 9%;

      //width: inherit;
      &-main{
        font-size: 131px;
        //font-size: 8vw;
        color:white;
        margin: 0;
        font-family: GrafolitaScriptMedium;
      }
      &-small{
        font-size: 20px;
        //font-size: 1.4vw;
        color: #f2eee2;
        margin-top:25px;
        font-family:SansNav;
      }
    }
  }
  &-content-bottom{
    width: 100%;
    position: relative;
    top: 80%;
    text-align: center;
    &-text{
      font-size: 17px;
      color: #fff;
      font-family: SansNav;
    }
    &-img{
      width: 165px;
    }
  }
}


